/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}


/* Navigation bar */

#navbar {
    display: flex;
    position: relative;
    top: 0px;
    align-items: center;
}

#navbar::before {
    content: "";
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}


/* Navigation Bar: logo and image  */

#logo {
    text-align: center;
    padding: 5px 20px;
}

#logo img {
    height: 64px;
    width: 96px;
}

#logo h3 {
    color: azure;
    letter-spacing: 2px;
    font-family: 'Baloo Bhaina 2', cursive;
}


/* Navigation Bar: List Styling */

#navbar ul {
    display: flex;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

#navbar ul li {
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
    border-radius: 20px;
    letter-spacing: 3px;
    padding: 3px 22px;
}


/* Home Section  */

#home {
    height: 495px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0px;
    left: 0px;
    background: url(../img/background.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: .89;
}

#home h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
}

#home p {
    color: white;
    font-family: 'Baloo Bhaina 2', cursive;
}


/* Services Section */

#services-container {
    background-color: rgb(225 197 197);
    padding: 40px;
}

#services-container h1 {
    font-family: 'Raleway', sans-serif;
    padding: 0px 0px 30px;
}

#services {
    display: flex;
}

#services .box {
    padding: 20px;
    margin: 10px;
    border-radius: 23px;
    background-color: rgb(243, 242, 242);
}

#services .box img {
    display: block;
    margin: auto;
    height: 130px;
}

#services .box h2 {
    font-family: 'Baloo Bhaina 2', cursive;
}

#services .box p {
    font-family: 'Raleway', sans-serif;
}


/* Clients Section */

#clients-container {
    background-color: bisque;
    padding: 40px;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-items {
    padding: 20px;
}

.client-items img {
    height: 150px;
}


/* Contact Us Section */

#contact-container {
    background-color: darkkhaki;
    padding: 40px;
}

#contact-container h1 {
    padding: 0px 0px 30px;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-box form {
    width: 50%;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 5px 0px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Baloo Bhaina 2', cursive;
}


/* Footer  */

footer {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-family: 'Baloo Bhaina 2', cursive;
    padding: 20px 5px;
}


/* Utility Classes */

.h-primary {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    padding: 12px;
}

.h-secondary {
    font-size: 1.2rem;
    padding: 10px;
}

.btn {
    padding: 5px 40px;
    border: 2px solid orange;
    background-color: wheat;
    color: darkgreen;
    font-size: 1rem;
    font-family: 'Baloo Bhaina 2', cursive;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px auto;
    display: block;
}

.btn:hover {
    letter-spacing: 2px;
    color: wheat;
    background-color: darkgreen;
    border: 2px solid orange;
}

.center {
    text-align: center;
}