/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}


/* Navigation bar */

#navbar {
    display: flex;
    position: relative;
    align-items: center;
}

#navbar::before {
    content: "";
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}


/* Navigation Bar: logo and image  */

#logo {
    text-align: center;
    padding: 5px 20px;
}

#logo h3 {
    color: azure;
    letter-spacing: 2px;
    font-family: 'Baloo Bhaina 2', cursive;
}


/* Navigation Bar: List Styling */

#navbar ul {
    display: flex;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

#navbar ul li {
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
    border-radius: 20px;
    letter-spacing: 3px;
    padding: 3px 22px;
}


/* Home Section  */

#home {
    height: 410px;
    padding: 3px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0px;
    left: 0px;
    background: url(../img/background.jpg) no-repeat center center/cover;
    z-index: -1;
}

#home h1 {
    color: white;
    font-size: 2.3rem;
    padding: 17px;
    font-family: 'Raleway', sans-serif;
}

#home p {
    color: white;
    font: 1.5rem;
    font-family: 'Baloo Bhaina 2', cursive;
}

.btn {
    padding: 5px 40px;
    border: 2px solid orangered;
    border-radius: 10px;
    cursor: pointer;
    margin: 3px;
}

.btn:hover {}