/* CSS Reset */

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}


/* Navigation bar */

#navbar {
    display: flex;
    align-items: center;
}


/* Navigation Bar: logo and image  */

#logo {
    text-align: center;
}


/* Navigation Bar: List Styling */

ul {
    display: flex;
    list-style: none;
}

li {
    text-decoration: none;
}