/* Navigation Bar */

#navbar {
    flex-direction: column;
}


/* Home Section */

#home {}


/* Services Section */

#services-container {}

#services {
    flex-direction: column;
    overflow: hidden;
}


/* Clients Section */

#clients-container {}

#clients {
    flex-direction: column;
}


/* Contact us Section */

#contact-container {}


/* Footer Section  */