/* CSS Reset */

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}


/* Navigation bar */

#navbar {
    display: flex;
    align-items: center;
}

#logo {
    display: inline;
}

#logo img {
    width: 100px;
    height: 100px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    text-decoration: none;
}