* {
    font-family: 'Raleway', sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
}

#logo {
    display: inline;
    width: 150px;
    height: 100px;
}

#logo-image {
    width: 150px;
    height: 100px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    display: inline;
}

a {
    list-style: none;
    text-decoration: none;
    font-size: large;
    color: black;
    font-weight: bold;
}